@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';

:root {
  /* --fd-toc-background: red; */
  /* --fd-page-width: 100%; */
}

.theme-layout-width {
  --fd-layout-width: 1400px;
}

.bg-blue-50 {
  background-color: #eff6ff;
}

.bg-success {
  background-color: #22c55e;
}

.bg-warning {
  background-color: #facc15;
}

.bg-error, .bg-destructive {
  background-color: #ef4444;
}

.bg-muted-foreground {
  background-color: #0f0f0f;
}
